Create variables for name, age, city, and profession, and print a sentence using them.
(Example: “My name is Ayesha, I am 25 years old, and I work as a data analyst in London.”)

In [1]:
name = "Ruhul"
age = 29
city = "London"
profession= "Data Analyst"

print(f"My name is {name}, I am {age} years old, and I work as a {profession} in {city}.")

My name is Ruhul, I am 29 years old, and I work as a Data Analyst in London.

In [2]:
# another way
myself = {name:"Ruhul", age:29, city:"London", profession:"Data Analyst"}

print(f"My name is {myself[name]}, I am {myself[age]} years old, and I work as a {myself[profession]} in {myself[city]}.")

My name is Ruhul, I am 29 years old, and I work as a Data Analyst in London.

Given a = 17 and b = 3, print:

Their sum, difference, product, quotient, and remainder.

In [4]:
a = 17
b = 3

print("SUM = ", a+b)
print("difference = ", a-b)
print("product = ", a*b)
print("quotient = ", a/b)
print("remainder = ", a%b)

SUM =  20
difference =  14
product =  51
quotient =  5.666666666666667
remainder =  2

Write a program that takes user input for two numbers and prints which one is larger.

In [8]:
a = int(input())
b = int(input())

if a>b:
  print(f"{a} is larger than {b}")
else:
  print(f"{b} is larger than {a}")

20
1
20 is larger than 1

Create a list of 5 numbers. Print:

The first element

The last element

The sum of all numbers

In [16]:
list = [2,4,5,7,8]

print("First element: ", list[0])
print("Last element: ", list[-1])
print("Sum if list: ", sum(list))

First element:  2
Last element:  8
Sum if list:  26

Create a dictionary to store a student’s name, age, marks in 3 subjects, and city. Then print:

The student’s name

The average of the marks

In [27]:
student = {"name": "Amin", "age":"24", "sub1":84, "sub2":92, "sub3":75, "city":"Dhaka"}
print("Name: ", student["name"])
print("Average: ", sum([student["sub1"],student["sub2"],student["sub3"]])/3)

Name:  Amin
Average:  83.66666666666667

Part 3 – Mini Project (≈1 hour)

Project: Simple Statistical Analyzer

Task:
Write a Python program that:

Takes a list of numbers (e.g., [12, 45, 67, 23, 89, 34, 22])

Calculates and prints:

Mean

Median

Mode

Standard Deviation

In [29]:
import random
import statistics as stats
data = random.sample(range(1,100),12)
print("mean: ", stats.mean(data))
print("median: ", stats.median(data))
print("mode: ", stats.mode(data))
print("Standard Deviation: ", stats.stdev(data))

mean:  56.416666666666664
median:  47.5
mode:  97
Standard Deviation:  34.57392168392328